/claude/.claude/.last-cleanup
/claude/.claude/.last-update-result.json
/claude/.claude/backups
/claude/.claude/cache
/claude/.claude/daemon
/claude/.claude/daemon.lock
/claude/.claude/daemon.log
/claude/.claude/daemon.status.json
/claude/.claude/file-history
/claude/.claude/history.jsonl
/claude/.claude/image-cache
/claude/.claude/jobs
/claude/.claude/mcp-needs-auth-cache.json
/claude/.claude/paste-cache
/claude/.claude/plans
/claude/.claude/plugins
/claude/.claude/projects
/claude/.claude/session-env
/claude/.claude/sessions
/claude/.claude/shell-snapshots
/claude/.claude/tasks
/claude/.claude/telemetry
/jj/.config/jj/repos
/opencode/.config/opencode/package-lock.json
fish_variables
lazy-lock.json
lazygit/.config/lazygit/state.yml
node_modules
