[user]
	email = kamal.singh@exa.net.uk
	name = Kamal Singh
[init]
	defaultBranch = main
	templateDir = /Users/kamal.singh/.git-templates
[url "git@git.exa.net.uk:"]
  insteadof = https://git.exa.net.uk/
[includeIf "gitdir:~/dev/personal/"]
    path = ~/.gitconfig-personal
