/claude/.claude/backups
/claude/.claude/cache
/claude/.claude/file-history
/claude/.claude/history.jsonl
/claude/.claude/mcp-needs-auth-cache.json
/claude/.claude/plugins
/claude/.claude/projects
/claude/.claude/sessions
/claude/.claude/shell-snapshots
/jj/.config/jj/repos
/opencode/.config/opencode/package-lock.json
fish_variables
lazy-lock.json
lazygit/.config/lazygit/state.yml
node_modules
/claude/.claude/.last-cleanup
